/* You can add global styles to this file, and also import other style files */
@import 'node_modules/bootstrap-icons/font/bootstrap-icons.scss';

* {
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.5px;
}

body {
    margin: 0px;
}
